@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
  background: pink;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #FFFFFF;
  
}

img {
  width: 30%;
}

.NavBar {
  background-color: black;
}
